[Unit]
Description=PostgreSQL __PG_MAJOR_VERSION__
After=syslog.target network.target

[Service]
Type=forking
TimeoutSec=120

User=postgres

Environment=PGDATA=data_dir
PIDFILE=data_dir/postmaster.pid

ExecStart=pg_path/postgresql.bin start
ExecStop=pg_path/postgresql.bin stop
ExecReload=pg_path/postgresql.bin reload

[Install]
WantedBy=multi-user.target
